
.container {
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    margin: auto;
    background-color: #ffcfae;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

input {
    width: 100%;
    padding: 8px 16px;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

