
.container {
    width: 100%;
    margin: auto;
    background-color: #ffcfae;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

input {
    width: 100%;
    padding: 8px 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

